
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/index.css" />

<div class="jumbotron">
    <div class="jumbo-text">
        <h1>Sparta Global Portfolio</h1>
        <p class="lead">At Sparta, you can learn a variety of programming languages and coding methodologies. By the end of the 13 weeks intensive training, you will be equipped with the skills necessary to launch your career as a programmer! </p>
        <button class="btn btn-primary btn-lg custom-button">@Html.ActionLink("Learn more", "Index", "Project")</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Project 1</h2>
        <p>
            Solo Web-based Game project.
        </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Project 2</h2>
        <p>
            Full Stack Web-development project.
        </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Project 3</h2>
        <p>
            Unit, Intergration and Automation Testing Project.
        </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
</div>