
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.ActionLink("Ruby", "Ruby", "Languages")</li>
<li>@Html.ActionLink("Javascript", "Javascript", "Languages")</li>
<li>@Html.ActionLink("C#", "CSharp", "Languages")</li>

